/*** TITRES ***/
.tabHeader {
    width:   70%;
    margin:  0 auto;

    background-color: var(--dark-blue);
    border-top-left-radius:     10px;
    border-top-right-radius:    10px;

    color: white;
}

h2 {
    border-bottom: 3px solid var(--blue);
}


/*** MAIN FORM ***/
/* tabs */
#tabs {
    width:   69%;
    height:  60px;
    margin:  0 auto;
    
    display: flex;
}

/* tabs boutons */
#tabs button {
    padding: 5px 20px;
    margin-top: 25px;

    background-color: var(--very-dark-blue);
    border: none;
    border-top-left-radius:  10px;
    border-top-right-radius: 10px;

    color: white;
    font-size: 18px;

    transition: 0.15s;
}

#tabs button:hover { 
    margin-top: 10px;
}

#tabs #current {
    background-color: var(--dark-blue);
}

form#formPatient, form#formMedecin, form#formConsultation {
    margin:  0 auto;
    width:   70%;

    color: var(--secondary-color);

    background-color: var(--dark-blue);
    border-bottom-left-radius:  10px;
    border-bottom-right-radius: 10px;
    border-top: 3px solid var(--blue);
}



/* Partie principale (sans les boutons) */
.mainForm {
    display: flex;
    justify-content: space-around;
    padding: 15px 10px;
}

.mainForm > * {
    flex: 1;
}

/* Les deux colonnes du formulaire */
.formColumn {
    display: flex;
    flex-direction: column;

    padding: 0 15px;
}


/* La zone finale du formulaire avec les deux boutons */
.formButtons {
    display: flex;
    height: auto;
    padding: 10px;

    background-color: var(--blue);
    border-bottom-left-radius:  10px;
    border-bottom-right-radius: 10px;
}

.formButtons .btna {
    margin: 5px 5px;
}

.formButtons > input[type="submit"], .formButtons > input[type="reset"] {
    height: inherit;
}


/* Petits titres */
.formHeader {
    width:  100%;
    height: 40px;

    font-size: 22px;
    font-weight: bold;

    border-bottom: white solid 1px;
}

.formDouble {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.longDouble {
    flex: 1 0 25%;
}

.shortDouble {
    flex: 1;
}

/* Chaque input avec son label */
.formInput {
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: space-around;

    margin: 5px 5px;
    height: 70px;
}

/* Les labels des inputs */
.formLabel {
    font-size: 18px;
    font-weight: bold;
}


/* Tous les inputs textuels */
.mainForm input {
    border:           none;
    border-bottom:    2px solid darkblue;
    border-radius:    3px;
    background-color: #EEEEEE;

    color: black;
    font-size: 15px;

    height: 25px;
}
