/*** VARIABLES ***/
:root {
    --secondary-color: #f0f0f0;

    --blue:           #3498db;
    --dark-blue:      #2980b9;
    --very-dark-blue: #1f608b;
}

/*** TITRES ***/
h2 {
    width:   1005px;
    margin:  0 auto;
    padding: 10px;

    background-color: var(--dark-blue);
    border-top-left-radius:     10px;
    border-top-right-radius:    10px;
    border-bottom: 3px solid var(--blue);

    color: white;
}


/*** MAIN FORM ***/
/* tabs */
#tabs {
    width:   1005px;
    height:  60px;
    margin:  0 auto;
    padding: 0 10px;
    
    display: flex;
}

/* tabs boutons */
#tabs button {
    padding: 5px 20px;
    margin-top: 25px;

    background-color: var(--very-dark-blue);
    border: none;
    border-top-left-radius:  10px;
    border-top-right-radius: 10px;

    color: white;
    font-size: 18px;

    transition: 0.15s;
}

#tabs button:hover { 
    margin-top: 10px;
}

#tabs #current {
    background-color: var(--dark-blue);
}

form#formPatient, form#formMedecin, form#formConsultation {
    margin:   0 auto;
    width:    1025px;

    color: var(--secondary-color);

    background-color: var(--dark-blue);
    border-bottom-left-radius:  10px;
    border-bottom-right-radius: 10px;
    border-top: 3px solid var(--blue);
}


/* Partie principale (sans les boutons) */
.mainForm {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}


/* La zone finale du formulaire avec les deux boutons */
.formButtons {
    display: flex;
    padding: 15px;

    background-color: var(--blue);
    border-bottom-left-radius:  10px;
    border-bottom-right-radius: 10px;
}

.formButtons .ma {
    margin: 0 5px;
}


/* Les deux colonnes du formulaire */
.formColumn {
    display: flex;
    flex-direction: column;

    padding: 15px;
}


/* Petits titres */
.formHeader {
    width:  100%;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: bold;

    border-bottom: white solid 1px;
}


/* PATIENTS */
/* Chaque input avec son label */
.Patient .formInput {
    display: flex;
    align-items: center;

    height: 50px;
}


/* La zone à deux inputs */
.Patient .formDoubleInput {
    display: flex;
    justify-content: space-between;
}


/* Les labels des inputs */
.Patient .formLabel {
    width:  175px;
    font-size: 18px;
    font-weight: bold;

    display: flex;
    align-items: center;
    flex: 1 0 25%;
}

/* Le deuxième label des zone à deux inputs */
.Patient .formSecondLabel {
    width: auto;
    margin-right: 15px;
}


/* Tous les inputs textuels */
.Patient input[type = text] {
    border:           none;
    border-bottom:    2px solid darkblue;
    border-radius:    3px;
    background-color: #EEEEEE;

    height: 25px;
}

/* Les inputs "court" */
.Patient .shortInput {
    width: 15em;
}

/* Les inputs "long" */
.Patient .longInput {
    width: 30em;
}

/* L'input du code postal */
#codePostal {
    width: 4em;
}


/* MEDECINS */
.Medecin {
    display: none;
}


/* Les inputs de medecins */
.Medecin .formInput {
    width: 250px;
}

/* inputs textuels */
.Medecin input[type = text] {
    border:           none;
    border-bottom:    2px solid darkblue;
    border-radius:    3px;
    background-color: #EEEEEE;

    height: 25px;
}

/* Les labels des inputs */
.Medecin .formLabel {
    font-size: 18px;
    font-weight: bold;

    display: flex;
    align-items: center;
    flex: 1 0 25%;
}


/* Les inputs "court" */
.Medecin .shortInput {
    width: 15em;
}

/* CONSULTATION */
/* Les inputs de Consultation */
.Consultation .formInput {
    display: flex;
    align-items: center;

    height: 50px;
}

/* La zone à deux inputs */
.Consultation .formDoubleInput {
    display: flex;
    justify-content: space-between;
}


/* Les labels des inputs */
.Consultation .formLabel {
    width:  125px;
    font-size: 18px;
    font-weight: bold;

    display: flex;
    align-items: center;
    flex: 1 0 25%;
}

.Consultation #firstColumn {
    width: 800px;
}

/* Le deuxième label des zone à deux inputs */
.Consultation .formSecondLabel {
    width: auto;
    margin-right: 15px;
}