#stats {
    display: flex;
    flex-flow: row wrap;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 50px solid var(--blue);
    border-left: 3px solid var(--dark-blue);
    border-right: 3px solid var(--dark-blue);
    overflow: hidden;
    padding-bottom: 50px;
}

#stats div {
    flex: 1;
}

#stats h3 {
    text-align: center;
}

#stats table td:nth-child(2), #stats table td:nth-child(3) {
    text-align: center;
}