/*** VARIABLES ***/
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');
:root {
    --secondary-color: #f0f0f0;

    --blue:      #3498db;
    --dark-blue: #2980b9;
}

/*** MAIN CSS ***/
* {
    font-family: 'Fredoka', sans-serif;
}

body {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

main {
    padding: 50px 150px;
}


/* Boutons  */
.btna {
    border-radius:5px;
    padding:10px;
    font-weight:bold;
    transition:0.1s all linear;
    margin:10px;
    display:inline-block;
}

.btna:active {
    box-shadow: none;
    transform: translate(-4px, 4px);
}
.green {
    background-color:rgba(46, 204, 113, 1);
    color:white;
    border:1px solid rgba(46, 204, 113, 1);
    box-shadow: -4px 4px 0px 2px rgba(46,204,113,0.5);
}

.green:hover {
    background-color:white;
    color:#2ecc71;
}
.red {
    background-color:#e74c3c;
    color:white;
    border:1px solid #e74c3c;
    box-shadow: -4px 4px 0px 2px rgba(231, 76, 60,0.5);
}

.red:hover {
    background-color:white;
    color:#e74c3c;
}



/*** FOOTER ***/
footer {
    padding: 10px;
    background-color: var(--secondary-color);

    text-align: center;
}

#footer-links {
    margin: 15px
}

#footer-links > a {
    margin: 5px
}