@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');
/*** VARIABLES ***/
:root {
    --secondary-color: #f0f0f0;
    --blue:      #3498db; /* 52, 152, 219 */
    --blue-opacity-reduce: rgba(52, 152, 219, 0.65);
    --blue-opacity-rereduce: rgba(52, 152, 219, 0.2);
    --dark-blue: #2980b9;
    --very-dark-blue: #1f608b;
    --link-color: #468ed6;
}

#background {
	width: 100%;
	position: fixed;
	z-index: -1;
}

body {
	padding:0;
	margin:0;
	font-family: 'Fredoka', sans-serif;

	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

a {
	color: var(--link-color);
	text-decoration: none;
}

/* a voir si garde (y'a plus de bouton, que des a et input[submit] */
input, button {
	border: none;
	outline: none;
	margin:0;
	padding:0;
	font-family: 'Fredoka', sans-serif;
}

input[type="submit"] {
	font-family: 'Fredoka', sans-serif;
}


/* header background-color:#17a2b8;
les textes en white */

header {
	display:flex;
	flex-flow:row wrap;
	padding:0 40px;
	border-bottom:2px solid #e1e1e1;
	
	background-color:var(--secondary-color);
	align-items: center;
}

header h3 {
	flex:0.5;
}


header nav {
	flex:0.5;
	justify-content: flex-end;
}

header nav ul {
	display:flex;
	flex-flow:row wrap;
	justify-content: space-around;
	list-style-type:none;
	margin:0;
}

header nav ul li {
	position: relative;
}

header nav ul li a:hover {
	background:rgba(52, 152, 219,1.0);
}

header nav ul li#currentPage::before {
	position:absolute;
	content:"";
	bottom:0;
	left:0;
	width:100%;
	height:5px;
	background-color:rgba(52, 152, 219,1.0);
}


header nav ul li {
	flex:1;
	text-align: center;	
}

header nav ul li a {
	transition:0.2s all linear;
	text-decoration: none;
	color:black;
	display:block;
	padding:30px;
}

header form {
	display: inline-block;
}

header form input {
	padding: 3px;
}

header form img {
	vertical-align: middle;
	width: 17px;
}

main {
	padding: 35px 100px;
	background-color: rgba(255, 255, 255, 0.5);
	flex: 1;
}





/*** BOUTONS ***/

.btna {
	border-radius:5px;
	padding:10px;
	font-weight:bold;
	transition:0.1s all linear;
	margin-right:0px;
	display:inline-block;
}

.btna:active {
	box-shadow: none;
	transform: translate(-4px, 4px);
}

.green {
	background-color:rgba(46, 204, 113, 1);
	color:white;
	border:1px solid rgba(46, 204, 113, 1);
	box-shadow: -4px 4px 0px 2px rgba(46,204,113,0.5);
}

.green:hover {
	background-color:white;
	color:#2ecc71;
}

.red {
	background-color:#e74c3c;
	color:white;
	border:1px solid #e74c3c;
	box-shadow: -4px 4px 0px 2px rgba(231, 76, 60,0.5);
}

.red:hover {
	background-color:white;
	color:#e74c3c;
}

.green2 {
	background-color:white;
	color:#2ecc71;
	
	border:1px solid rgba(46, 204, 113, 1);

	box-shadow: -4px 4px 0px 2px rgba(46,204,113,0.5);
}

.green2:hover {
	background-color:rgba(46, 204, 113, 1);
	color:white;
}

.red2 {
	background-color:white;
	color:#e74c3c;
	border:1px solid #e74c3c;
	box-shadow: -4px 4px 0px 2px rgba(231, 76, 60,0.5);
}

.red2:hover {
	background-color:#e74c3c;
	color:white;
}

.blue {
	background-color:#2980b9;
	color:white;
	
	border:1px solid #2980b9;

	box-shadow: -4px 4px 0px 2px rgba(41, 128, 185,0.5);
}

.blue:hover {
	background-color:white;
	color:#2980b9;
}

.bluenoshadow {
	background-color:#2980b9;
	color:white;
	
	border:1px solid #2980b9;

	/*box-shadow: -4px 4px 0px 2px rgba(41, 128, 185,0.5); */
}

.bluenoshadow:hover {
	background-color:white;
	color:#2980b9;
}

.blue2 {
	background-color:white;
	color:#2980b9;
	
	border:1px solid #2980b9;

	box-shadow: -4px 4px 0px 2px rgba(41, 128, 185,0.5); 
}

.blue2:hover {
	background-color:#2980b9;
	color:white;
}


.rednoshadow {
	background-color:#e74c3c;
	color:white;
	border:1px solid #e74c3c;
}

.rednoshadow:hover {
	background-color:white;
	color:#e74c3c;
}

.greennoshadow {
	background-color:#2ecc71;
	color:white;
	border:1px solid #2ecc71;
}

.greennoshadow:hover {
	background-color:white;
	color:#2ecc71;
}

/*** FOOTER ***/
footer {
    padding: 10px;
    background-color: var(--secondary-color);

	clear: both;
	position: relative;
}

#footer-links {
	display: flex;
	justify-content: center;
	align-items: center;
}

#footer-links > a {
	display: flex;
	flex-direction: column;
    align-items: center;
    margin: 5px 20px;
}

#footer-links > a > p {
	margin: 0;
}

#footer-links > a > img {
	border: 1px solid var(--link-color);
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

footer > p {
	text-align: center;
	margin:0;
}




/* Système de tab */

/*** TITRES ***/
h2 {
    margin:  0 auto;
    padding: 10px;

    background-color: var(--dark-blue);
    border-top-left-radius:     10px;
    border-top-right-radius:    10px;
    border-bottom: 0px solid var(--blue);

    color: white;
}

/*** MAIN FORM ***/
/* tabs */
#tabs {
    height:  60px;
    margin:  0 auto;
    padding: 0 10px;
    
    display: flex;
}

/* tabs boutons */
#tabs button {
	position: relative;
    padding: 5px 20px;
    margin-top: 25px;

    background-color: var(--very-dark-blue);
    border: none;
    border-top-left-radius:  10px;
    border-top-right-radius: 10px;

    color: white;
    font-size: 18px;

	cursor: pointer;

    transition: 0.15s;
}

#tabs button:hover { 
    margin-top: 10px;
}


#tabs #current {
	margin-top: 15px;
    background-color: var(--dark-blue);
}

#tabs #current:hover:before {
	background-color: inherit;
}





input {
  padding:8px;
  background:rgba(52, 152, 219,0.8);
  color:white;
  border:1px solid rgba(52, 152, 219,1);
  border-radius:3px;

  transition:0.2s all linear;
}

input:hover {
  background:rgba(41, 128, 185,1.0)
}

input:focus {
  background-color:white;
  color:rgba(52, 152, 219,0.8);
}

select {
  background:rgba(52, 152, 219,1.0);
  color:white;
  border-radius:3px;
  border:none;
  padding:10px;
  overflow-y: scroll;
  /* Pour firefox */
  scrollbar-color: white rgba(52, 152, 219,1);
  scrollbar-width:thin;
}


/* Pour chrome, Safari, etc */
select::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

select::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px;
}
select::-webkit-scrollbar-track {
  background-color: rgba(52, 152, 219,1);
}
/*
.research .flex-research select::-webkit-scrollbar-button {
  background-color: #4d7fff;
  border-radius: 5px;
}
*/


select:hover {
  background:rgba(41, 128, 185,1.0);
}


/* style de <table> */

table {
    margin: 0 auto;
    border: 1px solid var(--blue);
    color: white;
}

table th {
    min-width: 150px;
    border: 1px solid var(--blue);
    padding: 10px;
    background-color: var(--blue);
}

table a {
    color: white;
    text-decoration: underline;
}

table td {
    border: 1px solid var(--blue);
    padding: 10px;
}



table tr:nth-child(odd) {
    background-color: var(--dark-blue);
}

table tr:nth-child(even) {
    background-color: var(--very-dark-blue); 
}



#message {
	z-index: 10000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 40%;
	bottom: 10px;
	left: 10px;
	padding: 10px;
	padding-left: 25px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 5px solid;
	font-weight: bold;

	animation: up 0.4s forwards, down 0.4s 4s forwards;
}
#message p {
	flex: 1;
	margin: 0;
}
#message button {
	width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: center;
}

#message button {
    background-image:url("../images/supprimer.png");
}
#message button:hover {
    background-image: url("../images/supprimerHover.png");
}

.messageError {
	background: #fde1de;
	color: #ec412f;
}
.messageError::before {
	content: "Erreur";
	background-color: white;
	padding: 1%;
	margin-right: 10px;
	border-radius: 10px;
	font-weight: bold;
}

.messageError button {
	background-color: #fde1de;
}

.messageSuccess {
	background: #b9dfc6;
	color: #0cab55;
}
.messageSuccess::before {
	content: "Succès";
	background-color: white;
	padding: 1%;
	margin-right: 10px;
	border-radius: 10px;
	font-weight: bold;
}

.messageSuccess button {
	background-color: #b9dfc6;
}

@keyframes up{
	0%{
		transform: translateX(-700px);
	}
	100%{
		transform: translateX(0px);
	}
}

@keyframes down{
	0%{
		transform: translateY(0px);
	}
	100%{
		transform: translateY(100px);
	}
}